page-registr {
   
    ion-content{
        .scroll-content{
            overflow: hidden;
            padding-bottom:0 !important
        }
        .header{
            height: 40vh;
            background: rgba(28, 206, 238, 0.87)
        }
        .reg{
            width: 48vh;
            margin: 0 auto;    
            margin: -7vh auto;
        }
        .sign-up{
            text-align: center;
            margin-top: 3vh;
        }
    #phone{
        border:none;
        
    }
    .Telnumber{
        color: #488aff;
        font-size: 1.2rem;
        float: left
    }
    
    .bottomOn{
        padding-right: 8px;
        border-bottom: 1px solid #dedede;
        .item-md.item-block .item-inner{
            border-bottom: none
        }
    }
    .bottomOff{
        padding-right: 8px; 
        border-bottom: 1px solid #488aff
    }
    .click-on{
        padding-right: 8px; 
        border-bottom: 1px solid red
    }
    .click-off{
        padding-right: 8px; 
        border-bottom: 1px solid green
    }
    .valid{
        color:green
    }
    .invalid{
        color:red
    }

    }
}
