page-registr {
   
    ion-content{
        .scroll-content{
            overflow: hidden;
            padding-bottom:0 !important
        }
        .header{
            height: 40vh;
            background: rgba(28, 206, 238, 0.87)
        }
        .reg{
            width: 48vh;
            margin: 0 auto;    
            margin: -7vh auto;
        }
        .sign-up{
            text-align: center;
            margin-top: 3vh;
        }
   

    }
}
