page-edit {
    .header .toolbar:last-child .toolbar-background{
       background: rgba(28, 206, 238, 0.87);
       border-width: 0
    }
    .button-inner{
        color: white
    }
    .title-name{
        color: white
    }
    .back-button.show-back-button{
        position: absolute
    }
    
    ion-content{
        scroll-content{
            overflow: hidden
        
    }
 .profile{
    height: 20vh;
    background: rgba(28, 206, 238, 0.87);
   
    .picture{
        margin-top: 10vh
    }
 }
 .text{
    margin-top: 10vh;
    padding: 3vh;
    color: grey;
    font-size: 1.2em
 }
 .item-inner{
    background: rgba(28, 206, 238, 0.34);
   border-radius: 12px
 }
 ion-label{
    font-size: 1.5rem;
    color: grey;
 }
}
}
