page-home {
    ion-header{
       height: 30vh;
        background: rgba(28, 206, 238, 0.87)
    }
    
    
    .card-background-page {
      .scroll-content{
        overflow: hidden
    }
        ion-card {
          position: relative;
          text-align: center;
        
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
      .searchbar{
        border: none;
        background: none;
        padding: 12vh 2vh
      }
      .searchbar .searchbar-input{
        height: 5rem;
      }
      .searchbar .searchbar-search-icon{
        top: 19px
      }
      .searchbar .searchbar-input{
        border-radius: 20px
      }
    }
  