page-code-mail {
    .item-block{
        width: 35%;
        margin: 0 auto;
    }
    .go{
        text-align: center;
        margin-top: 3vh;
    }
    input{
        border: none;   
        text-align: center;
        width: 100%;
    }
}
